mariadb/
mongo/
postgres/
redis/
mysql/
performance_schema/
data/
sampleapp/db/data/

sampleapp/db/data/ibdata1
sampleapp/db/ib_logfile1
sampleapp/db/data/ib_logfile0

echo "sampleapp/db/data/ibdata1" >>.gitignore
echo "sampleapp/db/data/ib_logfile1">>.gitignore
echo "sampleapp/db/data/ib_logfile0">>.gitignore

mariadb/
mongo/
postgres/
redis/
mysql/
performance_schema/
data/
